body {
    background-image: url('bg1.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}  

.table1 {
    margin-top: 20px;
    margin-left: 215px;
    width: 980px;
    height: auto;
    position: absolute;
    background-color: ghostwhite;
}

.td1 {
    text-align: center;
}

.table2 {
    margin-top: 20px;
    margin-left: 215px;
    width: 980px;
    position: absolute;
    background-color: ghostwhite;
}

h1{
    font-size: 50px;
    
}

p {
    font-size: 25px;
}

.td1{
    align-content: center;
}

.div1{
    margin-top: 100px;
    margin-left: 215px;
    float: left;
    position: absolute;
}

.div2{
    margin-top: 100px;
    margin-left: 555px;
    float: left;
    position: absolute;
}

.div3{
    margin-top: 100px;
    margin-left: 900px;
    float: left;
    position: absolute;
}

.div4{
    margin-top: 540px;
    margin-left: 215px;
    float: left;
    position: absolute;
}

.div5{
    margin-top: 540px;
    margin-left: 555px;
    float: left;
    position: absolute;
}

.div6{
    margin-top: 540px;
    margin-left: 900px;
    float: left;
    position: absolute;
}

.div7{
    margin-top: 1000px;
    margin-left: 230px;
    float: left;
    position: absolute;
}

.div8{
    margin-top: 1000px;
    margin-left: 730px;
    float: left;
    position: absolute;
}

.div9{
    margin-top: 1380px;
    margin-left: 500px;
    float: left;
    position: absolute;
}